*{
    font-family:"Inter", sans-serif;
}

.wiki-page{
    flex:1;

    min-height:100vh;

    background:#f5f5f5;

    padding:50px 90px;

    box-sizing:border-box;
}

/* HEADER */

.wiki-header{
    margin-bottom:50px;
}

.wiki-header-top{
    display:flex;

    justify-content:space-between;

    align-items:flex-start;

    gap:20px;

    margin-bottom:32px;
}

.wiki-header h1{
    font-size:52px;
    font-weight:600;

    letter-spacing:-1.5px;

    color:#1f1f1f;

    margin:0 0 14px 0;
}

.wiki-header p{
    font-size:17px;

    color:#666;

    margin:0;
}

/* BUTTON */

.add-article-button{
    display:flex;
    align-items:center;

    gap:10px;

    background:#1f1f1f;

    color:white;

    border:none;

    border-radius:18px;

    padding:14px 20px;

    font-size:14px;
    font-weight:500;

    cursor:pointer;

    transition:0.2s ease;

    box-shadow:
            0 4px 18px rgba(0,0,0,0.08);
}

.add-article-button:hover{
    background:#2d2d2d;

    transform:translateY(-2px);
}

/* SEARCH */

.wiki-search-container{
    width:100%;
    max-width:520px;

    display:flex;
    align-items:center;

    gap:12px;

    background:white;

    padding:16px 18px;

    border-radius:18px;

    border:1px solid #e5e5e5;

    box-shadow:0 2px 10px rgba(0,0,0,0.03);
}

.wiki-search-container svg{
    color:#8a8a8a;
}

.wiki-search{
    flex:1;

    border:none;
    outline:none;

    font-size:15px;

    background:transparent;
}

/* CARDS */

.wiki-categories{
    display:grid;

    grid-template-columns:
        repeat(auto-fit, minmax(260px, 1fr));

    gap:28px;
}

.wiki-card{
    background:white;

    border-radius:28px;

    padding:34px;

    min-height:220px;

    cursor:pointer;

    transition:0.25s ease;

    border:1px solid #ececec;

    box-shadow:0 4px 18px rgba(0,0,0,0.03);
}

.wiki-card:hover{
    transform:translateY(-4px);

    box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

.wiki-card-icon{
    width:68px;
    height:68px;

    border-radius:20px;

    background:#f3f3f3;

    display:flex;
    align-items:center;
    justify-content:center;

    margin-bottom:26px;

    color:#2d2d2d;
}

.wiki-card h2{
    margin:0 0 14px 0;

    font-size:28px;
    font-weight:600;

    letter-spacing:-0.5px;

    color:#222;
}

.wiki-card p{
    margin:0;

    font-size:15px;

    line-height:1.7;

    color:#666;
}